# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
*.tsbuildinfo
.tsbuildinfo

# Node & Package Managers
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Angular & Build Cache
/.angular
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
*.env.local

# IDEs and Editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/*

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

# OS & System files
.DS_Store
Thumbs.db

