@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-brand-green: #2DA826;
  --color-brand-green-hover: #24881E;
  --color-brand-dark-bg: #050A14;
  --color-brand-sidebar: #0C1322;
  --color-brand-card: #FFFFFF;
  --color-brand-border: #E5E7EB;
  --color-brand-text-main: #111827;
  --color-brand-text-muted: #6B7280;
}

@layer base {
  body {
    background-color: #050A14;
    color: #111827;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}
